.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 5%;
  border-bottom: 1px solid var(--border-color);
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: var(--bg-color);
  width: 100%;
}

/* Wrapper baru untuk menyejajarkan Menu dan Icon */
.nav-wrapper {
  display: flex;
  align-items: center;
  gap: 30px;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.theme-switcher {
  cursor: pointer;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}

/* Sembunyikan menu-icon di desktop */
.menu-icon {
  display: none; 
}

@media (max-width: 768px) {
  .menu-icon {
    display: block;
    font-size: 1.8rem;
    color: var(--primary-color);
  }

  .navbar-links {
    position: fixed;
    top: 0;
    right: -100%;
    width: 70%;
    height: 100vh;
    background-color: var(--secondary-bg);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    box-shadow: -10px 0 30px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in-out;
  }

  .navbar-links.active {
    right: 0;
  }
}